textarea#question {width: 100%; height: 200px; background: #ffc;}
textarea#answer   {width: 100%; height: 200px; background: #cfc;}
textarea#md       {width: 100%; height: 400px; background: #cfc;}

img#odyssey {width: 100%;}

p.question {font-size: larger;}
p.answer   {margin-left: 1em;}
p.good     {margin-left: 1em;}

pre.question {font-size: medium;}
pre.answer   {margin-left: 1em;}

span.nick  {font-weight: bold;}

.red     {color: red;}
.sm      {font-size: small;}
.skyblue {color: royalblue;}

/* 2022-03-25 */
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}

pre code {
  word-wrap: break-word;
  background-color: #f4f4f4;
  padding: 5px;
  font-size: 16px;
}
