[Unit]
Description=question and answers for hkimura literacy classes
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/qa
Environment=PORT=3003
Environment=DATABASE_URL='jdbc:postgresql://db/l22?user=postgres&password=password' 
ExecStart=/usr/bin/java -jar /home/ubuntu/qa/qa.jar
User=ubuntu

[Install]
WantedBy=multi-user.target
