[Unit]
Description=question and answers for hkimura literacy classes
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/qa
Environment=PORT=3003
Environment=DATABASE_URL=jdbc:postgresql://db/l22?user=postgres&password=password
ExecStart=/bin/sh start.sh
ExecStop=/bin/sh stop.sh
StandardOutput=append:/home/ubuntu/qa/log/qa.log
StandardError=append:/home/ubuntu/qa/log/qa.log
User=ubuntu

[Install]
WantedBy=multi-user.target
