[Unit]
Description=typing exercise for hkimura literacy classes

[Service]
EnvironmentFile=/home/ubuntu/ex-typing/.env
WorkingDirectory=/home/ubuntu/ex-typing
ExecStart=/bin/sh start
ExecStop=/bin/sh stop
TimeoutSec=300
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target
