[Unit]
Description=typing exercise for hkimura literacy classes

[Service]
ExecStart=/bin/sh start
ExecStop=/bin/sh stop
TimeoutSec=300
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target
