[Unit]
Description=question and answers for hkimura literacy classes

[Service]
EnvironmentFile=/home/ubuntu/qa/.env
WorkingDirectory=/home/ubuntu/qa
ExecStart=/bin/sh start
ExecStop=/bin/sh stop
TimeoutSec=300
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target
