[Unit]
Description=question and answers for hkimura literacy classes

[Service]
WorkingDirectory=/home/ubuntu/qa
EnvironmentFile=/home/ubuntu/qa/.env
ExecStart=/bin/sh start
ExecStop=/bin/sh stop
TimeOutSec=300
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target
