{:duct.profile/base
 {:duct.core/project-ns qa

  :duct.router/ataraxy
  {:middleware {:auth #ig/ref :qa.middleware/auth}
   :routes
   {[:get "/example"] [:qa.handler/example]

    [:get "/login"] [:qa.handler.auth/login]

    [:post "/login" {params :form-params}]
    [:qa.handler.auth/login-post params]

    [:get "/logout"] [:qa.handler.auth/logout]

    [:get  "/q"] ^:auth [:qa.handler.core/question-new]

    [:post "/q" {params :multipart-params}]
    [:qa.handler.core/question-create params]

    [:get  "/q/" n] ^:auth [:qa.handler.core/question ^int n]
    [:get  "/qs"  ] ^:auth [:qa.handler.core/questions]

    [:get  "/a"] ^:auth [:qa.handler.core/answer-new]

    [:post "/a" {params :multipart-params}]
    [:qa.handler.core/answer-create params]

    [:get  "/a/"  n] ^:auth [:qa.handler.core/answer  ^int n]
    [:get  "/as/" n] ^:auth [:qa.handler.core/answers ^int n]}}


  :qa.middleware/auth {}

  :qa.handler/example {:db #ig/ref :duct.database/sql}

  ;; using ex-typing's database.
  :qa.handler.auth/login {}
  :qa.handler.auth/login-post {:db #ig/ref :duct.database/sql}
  :qa.handler.auth/logout {}

  :qa.handler.core/question-new {}
  :qa.handler.core/question-create {:db #ig/ref :duct.database/sql}
  :qa.handler.core/question        {:db #ig/ref :duct.database/sql}
  :qa.handler.core/questions       {:db #ig/ref :duct.database/sql}

  :qa.handler.core/answer-new {}
  :qa.handler.core/answer-create {:db #ig/ref :duct.database/sql}
  :qa.handler.core/answer        {:db #ig/ref :duct.database/sql}
  :qa.handler.core/answers       {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}}
