{:duct.profile/base
 {:duct.core/project-ns qa

  :duct.router/ataraxy
  {:middleware {:auth #ig/ref :qa.middleware/auth}
   :routes
   {[:get "/"] [:qa.handler.core/index]

    [:get "/login"] [:qa.handler.auth/login]

    [:post "/login" {params :form-params}]
    [:qa.handler.auth/login-post params]

    [:get "/logout"] [:qa.handler.auth/logout]

    [:get  "/q"] ^:auth [:qa.handler.core/question-new]

    [:post "/q" {params :multipart-params}]
    [:qa.handler.core/question-create params]

    [:get  "/qs"] ^:auth [:qa.handler.core/questions]
    [:get  "/qs-all"] ^:auth [:qa.handler.core/questions-all]

    [:post "/a" {params :multipart-params}]
    [:qa.handler.core/answer-create params]

    [:get  "/as/" n] ^:auth [:qa.handler.core/answers ^int n]

    [:get "/good/" q-id "/" a-id]
    ^:auth
    [:qa.handler.core/good ^int q-id ^int a-id]

    [:get "/goods"] ^:auth [:qa.handler.core/goods]

    [:get "/my-goods/" nick] ^:auth [:qa.handler.core/my-goods nick]

    [:get "/recents"] ^:auth [:qa.handler.core/recents]

    [:get "/who-goods/" n] ^:auth [:qa.handler.core/who-goods n]

    [:get "/admin"] ^:auth [:qa.handler.core/admin]

    [:post "/admin/goods" {params :form-params}]
    [:qa.handler.core/admin-goods params]

    [:get "/readers/" path "/" n] ^:auth
    [:qa.handler.core/readers path ^int n]

    [:get  "/md"] ^:auth [:qa.handler.core/md]
    [:post "/md" {params :form-params}] [:qa.handler.core/md-post params]

    [:get "/since/" timestamp]
    [:qa.handler.core/since timestamp]}}

  :qa.middleware/auth {}

  :qa.handler.core/index {}

  ;; using ex-typing's database.
  :qa.handler.auth/login {}
  :qa.handler.auth/login-post {:db #ig/ref :duct.database/sql}
  :qa.handler.auth/logout {}

  :qa.handler.core/question-new {}
  :qa.handler.core/question-create {:db #ig/ref :duct.database/sql}
  :qa.handler.core/questions       {:db #ig/ref :duct.database/sql}
  :qa.handler.core/questions-all   {:db #ig/ref :duct.database/sql}

  :qa.handler.core/answer-create {:db #ig/ref :duct.database/sql}
  :qa.handler.core/answers       {:db #ig/ref :duct.database/sql}

  :qa.handler.core/who-goods {:db #ig/ref :duct.database/sql}

  :qa.handler.core/good {:db #ig/ref :duct.database/sql}
  :qa.handler.core/my-goods {:db #ig/ref :duct.database/sql}
  :qa.handler.core/goods {:db #ig/ref :duct.database/sql}

  :qa.handler.core/recents {:db #ig/ref :duct.database/sql}

  :qa.handler.core/md {}
  :qa.handler.core/md-post {}
  
  :qa.handler.core/readers {:db #ig/ref :duct.database/sql}
  :qa.handler.core/since   {:db #ig/ref :duct.database/sql}

  ;; prevent goods duplicates
  :qa.handler.core/admin {}
  :qa.handler.core/admin-goods {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}}
